
*{
	padding: 0; 
	margin: 0;
	font-family: 'Fira Sans', sans-serif;
}

/**********************************ESTILOS SIGN IN****************************************/
#success_message{ display: none;}


#title-h1{
	font-family: 'Alfa Slab One', cursive;
	font-size:20px;
	padding:20px;
	margin-bottom: 60px;
}
#img-logo{
	width: 35%;
	margin: 0 auto;
	padding: 20px;

}
#btn-submit{
	color:#212121; 
	background-color:#f6a800;
}

/**********************************ESTILOS NAVBAR****************************************/
#title-h3{
	font-family: 'Alfa Slab One', cursive;
	font-size:20px;
	margin-bottom: 10px;
	padding-left: 25px;
}	
.space{
	padding-right: 60px;
}
#nav-style{
	color: #DAAA00;
	
}
#nav-style a{
	color: #DAAA00;
}